@import url(https://fonts.googleapis.com/css?family=Fira+Sans:400,700|Alegreya+Sans:400,900);

body {
  font-family: $font-primary;
  font-size: $root-font-size;
  color: $grey;
  background: white;
}