@mixin font($size, $line-height, $weight: null) {
  font-size: $size; // IE fix
  font-size: ($size / $root-font-size) * 1rem;
  @if $weight != null {
    font-weight: $weight;
  }
  line-height: $line-height;
}